@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%;
}

body, button, input {
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.spinner {
    position: relative;
    pointer-events: none;
}

.spinner>span {
    color: transparent;
}

.spinner::after {
    content: '';
    position: absolute !important;
    top: calc(50% - (1em / 2));
    left: calc(50% - (1em / 2));
    display: block;
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.bg-primary:not(.transition),
.bg-surface:not(.transition),
.bg-background:not(.transition) {
    transition-property: background-color;
    @apply duration-200 ease-in-out;
}

.text-on-primary:not(.transition),
.text-on-surface:not(.transition),
.text-on-background:not(.transition),
.text-border-dark:not(.transition),
.text-on-background-75:not(.transition),
.text-on-surface-60:not(.transition),
.text-on-surface-75:not(.transition),
.text-on-surface-80:not(.transition) {
    transition-property: color;
    @apply duration-200 ease-in-out;
}

.border-border-75:not(.transition),
.border-border:not(.transition),
.border-border-dark:not(.transition),
.border-border-light:not(.transition){
    transition-property: border-color;
    @apply duration-200 ease-in-out;
}
